@import 'yeticss'

header
  padding-top: 0.5rem

h1
  font-size: 7rem
  font-weight: bold
  text-align: center !important

h1 a
  color: rgb(232, 168, 5) !important

h4
  font-weight:bold
  color: rgb(232, 168, 5) !important
  text-align: center
