@import 'yeticss'

header
  padding-top: 0.5rem

h1
  font-size: 7rem
  font-weight: bold
  text-align: center !important

h1 a
  color: rgb(232, 168, 5) !important

h4
  font-weight:bold
  color: rgb(232, 168, 5) !important
  text-align: center

html, body
  height: 100%

body
  background-color: #ffffff
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#999999))
  background-image: -webkit-linear-gradient(top, #ffffff, #999999)
  background-image:    -moz-linear-gradient(top, #ffffff, #999999)
  background-image:      -o-linear-gradient(top, #ffffff, #999999)
  background-image:         linear-gradient(to bottom, #ffffff, #999999)
  background-attachment: fixed
