header {
  padding-top: 0.5rem;
}

h1 {
  font-size: 7rem;
  font-weight: bold;
  text-align: center !important;
}

h1 a {
  color: rgb(232, 168, 5) !important;
  text-decoration: none;
}

h4 {
  font-weight:bold;
  color: rgb(232, 168, 5) !important;
  text-align: center;
}

html, body {
  height: 100%;
  margin: 0 0 0 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  background-color: #ffffff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#b0b0b0));
  background-image: -webkit-linear-gradient(top, #ffffff, #b0b0b0);
  background-image:    -moz-linear-gradient(top, #ffffff, #b0b0b0);
  background-image:      -o-linear-gradient(top, #ffffff, #b0b0b0);
  background-image:         linear-gradient(to bottom, #ffffff, #b0b0b0);
  background-attachment: fixed;
}

img {
  width: 100%
}